
*.html linguist-language=HTML
*.xml linguist-language=XProc
*.bes linguist-language=XProc
*.ojo linguist-language=XProc
*.beswrpt linguist-language=HTML
*Tasks_UninstallApplicationsMSI_Windows.bes linguist-vendored
