
*.html linguist-language=HTML
*.xml linguist-language=XProc
*.bes linguist-language=XProc
*.ojo linguist-language=XProc
*.beswrpt linguist-language=HTML
bigfix-content/fixlet/Tasks - Uninstall MSI Applications - Windows.bes linguist-vendored
