---
BESType: "Task"
Title: "Template Demo"
Relevances: [ {Relevance: "false"}, {Relevance: "mac of operating system"} ]
---
<?xml version="1.0" encoding="UTF-8"?>
<BES xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="BES.xsd">
	<{{BESType}}{{^BESType}}Fixlet{{/BESType}}>
		<Title>{{Title}}</Title>
		<Description><![CDATA[ {{Description}}{{^Description}} &lt;enter a description of the problem and the corrective action here&gt; {{/Description}} ]]></Description>
		{{#Relevances}}
			<Relevance><![CDATA[ {{Relevance}} ]]></Relevance>
		{{/Relevances}}
		<Category>{{Category}}</Category>
		<Source>{{Source}}</Source>
		<SourceID>{{SourceID}}</SourceID>
		<SourceReleaseDate>{{SourceReleaseDate}}</SourceReleaseDate>
		<SourceSeverity>{{SourceSeverity}}</SourceSeverity>
		<CVENames>{{CVENames}}</CVENames>
		<SANSID>{{SANSID}}</SANSID>
		<MIMEField>
			<Name>x-fixlet-modification-time</Name>
			<Value>Wed, 29 Nov 2017 05:35:36 +0000</Value>
		</MIMEField>
		<Domain>{{BESDomain}}{{^BESDomain}}BESC{{/BESDomain}}</Domain>
		<DefaultAction ID="Action1">
			<Description>
				<PreLink>Click </PreLink>
				<Link>here</Link>
				<PostLink> to deploy this action.</PostLink>
			</Description>
			<ActionScript MIMEType="application/x-Fixlet-Windows-Shell">
// put action commands here:
</ActionScript>
		</DefaultAction>
	</{{BESType}}{{^BESType}}Fixlet{{/BESType}}>
</BES>
