---
BESType: "Task"
Title: "Template Demo"
Relevances: [ {Relevance: "false"}, {Relevance: "mac of operating system"} ]
---
<?xml version="1.0" encoding="UTF-8"?>
<BES xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="BES.xsd">
	<{{BESType}}{{^BESType}}Fixlet{{/BESType}}>
		<Title>{{Title}}</Title>
		<Description><![CDATA[ {{Description}}{{^Description}} &lt;enter a description of the problem and the corrective action here&gt; {{/Description}} ]]></Description>
		{{#Relevances}}
			<Relevance><![CDATA[ {{Relevance}} ]]></Relevance>
		{{/Relevances}}
	</{{BESType}}{{^BESType}}Fixlet{{/BESType}}>
</BES>
